# ==============================
# Telegram Bot Configuration
# ==============================
TELEGRAM_BOT_TOKEN=

# ==============================
# ClickHouse Database Configuration
# ==============================
CLICKHOUSE_HOST=clickhouse-server
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=botdb

# ==============================
# gRPC Server Configuration
# ==============================
GRPC_PORT=9090
